<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <!--<Properties>-->
        <!--<Property name="basePath">/Users/wls/tmp/log</Property>-->
    <!--</Properties>-->
    <Properties>
        <Property name="APP_NAME">server</Property>
        <Property name="LOG_FILE_PATH">logs/${APP_NAME}</Property>
        <!--<Property name="PATTERN_FORMAT">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{1} %L %M - %msg%xEx%n</Property>-->
        <Property name="PATTERN_FORMAT">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %class{1} %L - %msg%xEx%n</Property>
    </Properties>


    <Appenders>
        <RollingFile name="fileLogger" fileName="${LOG_FILE_PATH}/server.log" filePattern="${LOG_FILE_PATH}/tarmac-%d{yyyy-MM-dd}.log">
            <PatternLayout>
                <pattern>${PATTERN_FORMAT}</pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="7"/>
        </RollingFile>

        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout   pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="info">
            <appender-ref ref="fileLogger" />
        </Root>
        <Logger name="org.wls.tcpthrough" level="info">
            <appender-ref ref="console" />
        </Logger>
    </Loggers>
</Configuration>